<!--The content below is only a placeholder and can be replaced.-->

<div class="header">
  <table style="width:100%">
    <tr>
      <td style="text-align: center; width:15%">
        <div *ngIf="authService.isLoggedIn">
          <label class="label-welcome">Welcome {{authService.user.userName}}</label>
        </div>
      </td>
      <td style="text-align: center; width:70%">
        <div>
          <label class="label-main">{{title}}</label>
        </div>
      </td>
      <td style="text-align: center; width:15%">
        <div *ngIf="authService.isLoggedIn">
          <button class="button-sign" (click)="signout()">Sign out</button>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="body">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="label-message">
    <label style="color: rgb(7, 7, 7);">Messages</label>
    <div [innerHTML]="this.msgService.messages">
    </div>
  </div>
  <div>
    <label class="label-logo">
      @Maestro
    </label>
  </div>
</div>