<div class="row align-items-center text-center" *ngIf="this.authService.isLoggedIn">
  <div class="box-container">
    <table style="width:100%">
      <tr>
        <th style="text-align: center; width:30%">
          <label>Number of incidents </label>
        </th>
        <th style="text-align: center; width:30%">
          <label>Incidents numbers by type</label>
        </th>
        <th style="text-align: center; width:30%">
          <label>Incidents numbers by class</label>
        </th>
      </tr>
      <tr>
        <td style="text-align: center; width:30%">
          <label>Total Incidents:</label>
          <label>{{tot_incidents}}</label>
        </td>

        <td style="text-align: center; width:30%">
          <div>
            <label>Total Information-Related:</label>
            <label>{{tot_info_related}}</label>
          </div>
          <div>
            <label>Total Non Information-Related:</label>
            <label>{{tot_nonInfo_related}}</label>
          </div>
        </td>


        <td style="text-align: center; width:30%">
          <div>

            <label>Total Security Weakness:</label>
            <label>{{tot_security}}</label>
          </div>

          <div>
            <label>Total Minor Incidents:</label>
            <label>{{tot_minor}}</label>
          </div>
          <div>
            <label>Total Major Incidents:</label>
            <label>{{tot_major}}</label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row align-items-center text-center" *ngIf="this.authService.isLoggedIn">
  <div class="col">
    <div class="box-container">
      <div>
        <label>Incidents:</label>
      </div>
      <div>
        <ul>
          <div>
            <li *ngFor="let incident of this.incidentsService.incidents_revs">
              <a routerLink="/incident/{{incident['revisions'][0]['id']}}">
                <label>{{incident['revisions'][0]['date']}}</label>
                <label>{{incident['revisions'][0]['type']}}</label>
                <label>{{incident['revisions'][0]['short_desc']}}</label>
              </a>
            </li>
          </div>
        </ul>
      </div>
      <div>
        <button *ngIf="this.authService.isLoggedIn && !authService.user.isTracker" (click)="newIncident()">Report an Incident</button>
      </div>
    </div>
  </div>
</div>